@import '../../variables.scss';

.homepage {
  width: 34rem;
  height: 42rem;
  margin: 1.5rem 0;
  border-radius: 1rem;
  background: $hover-pink;
  &::before {
    width: 38.75rem;
    height: 45rem;
    z-index: 1;
    content: '';
    position: absolute;
    background: no-repeat center/38.75rem url('./img/homepage-background.svg');
    top: -1.5rem;
    right: -1.5rem;
  }
}