@import '../../variables.scss';

.breed-photo-container {
  min-height: 19rem;
  & .cat-pic {
    border-radius: 1rem;
  }
}

.breed-description {
  display: flex;
  flex-direction: column;
  width: 32rem;
  align-items: center;
  border: 0.1rem solid $hover-pink;
  border-radius: 1rem;
  margin-top: 1.3rem;
}

.breed-header {
  display: block;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: $black-font;
  background-color: $white;
  margin-top: -1.55rem;
  padding: 0.25rem 2rem;
}

.breed-description-text {
  width: 28rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 500;
}

.breed-characteristics {
  display: flex;
  width: 28rem;
  justify-content: space-around;
  font-size: 0.8rem;
  line-height: 1.15rem;
  margin-bottom: 1.5rem;
}

.breed-char-col {
  width: 13.5rem;
  &:first-child {
    margin-right: 0.5rem;
  }
  &:last-child {
    margin-left: 0.5rem;
  }
}

.char-item {
  margin-bottom: 0.5rem;
}

.char-header {
  font-weight: 500;
  color: $black-font;
}


.slide-bar {
  margin: 0 auto;
  width: fit-content;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background: $white;
  border-radius: 1rem;
  margin-top: -0.75rem;
  & .slide-point {
    cursor: pointer;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $hover-pink;
    margin-right: 0.25rem;
    transition: background-color $transition-delay;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      background-color: $active-pink;
    }
  }
  & .active-slide-point {
    background-color: $active-pink;
  }
}