@import '../../variables.scss';

.container {
  display: flex;
  justify-content: center;
  width: 1440px;
  height: 100vh;
}

main {
  width: 680px;
  height: 840px;
  margin: 30px 0;
  border-radius: 20px;
  background: none;
}

section {
  width: 100%;
  min-height: 782px;
  background: $white;
  border-radius: 20px;
  margin-top: 10px;
  padding: 20px;
}