@import '../../variables.scss';

.container {
  display: flex;
  justify-content: center;
  width: 1440px;
  min-height: 900px;
}

main {
  width: 680px;
  max-height: 860px;
  position: relative;
  margin: 30px 0;
  border-radius: 20px;
  background: none;
}

section {
  position: relative;
  width: 100%;
  min-height: 800px;
  background: $white;
  border-radius: 20px;
  margin-top: 10px;
  padding: 20px;
}

.scroll-container {
  margin-top: 20px;
  width: 100%;
  max-height: 700px;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}