.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 320px;
  margin-bottom: 20px;
}

.spinner {
  width: 100px;
  height: 100px;
  background: no-repeat center url('./img/spinner.svg');
}