@import '../../variables.scss';

.photo-grid {
  margin-bottom: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 10rem);
  grid-auto-rows: 7rem;
  grid-gap: 1rem;
  & .photo-grid-item {
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    background: no-repeat center;
    background-size: 12.5rem auto;
    &_vert {
      background-size: auto 15rem;
    }
    &_big-square {
      background-size: 30rem auto;
    }
    &_vert_col-left {
      grid-column-start: 1;
    }
    &_big-square_col-right {
      grid-column: 2/4;
    }
    &_vert_col-right {
      grid-column-start: 3;
    }
    &_big-square_col-left {
      grid-column: 1/3;
    }
    & .hover-container {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      background-color: transparent;
      transition: background-color $transition-delay;
      &:hover {
        background-color: $transp-pink;
      }
      & .gallery-btn {
        display: none;
        margin: auto;
        height: 2rem;
        width: 2rem;
        border-radius: 0.5rem;
        background: no-repeat center url('./img/fav.svg'), $white;
        transition: background $transition-delay;
        &:hover {
          background: no-repeat center url('./img/fav-hover.svg'), $active-pink;
        }
      }
      & .active-gallery-btn {
        display: none;
        margin: auto;
        height: 2rem;
        width: 2rem;
        border-radius: 0.5rem;
        background: no-repeat center url('./img/fav-active.svg'), $white;
        transition: background $transition-delay;
        &:hover {
          background: no-repeat center url('./img/fav-active-hover.svg'), $active-pink;
        }
      }
    }
  }
  & .no-photo {
    background: no-repeat center/50% url('../../assets/img/upload-bg.svg') !important;
  }
}
.photo-grid:last-child {
  margin-bottom: 0;
}

.grid-nav-btns {
  display: flex;
  justify-content: space-between;
  & .greed-btns {
    height: 2rem;
    width: 6.1rem;
    text-transform: uppercase;
    background-color: $hover-pink;
    color: $active-pink;
    border-radius: 0.5rem;
    font-size: 0.6rem;
    line-height: 0.8rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
    transition: background-color $transition-delay, color $transition-delay;
    &:hover {
      background-color: $active-pink;
      color: $white;
    }
    &:disabled {
      background-color: $gray-back;
      color: $grey-text
    }
  }
}

.breed-btn {
  display: none;
  margin-top: auto;
  margin-bottom: 0.5rem;
  width: 9rem;
  height: 1.7rem;
  background-color: $white;
  border-radius: 0.5rem;
  color: $active-pink;
  font-size: 0.8rem;
  transition: background-color $transition-delay, color $transition-delay;
  &:hover {
    background-color: $active-pink;
    color: $white;
  }
}

.no-items {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  border-radius: 0.5rem;
  background-color: $gray-back;
  padding-left: 1rem;
  font-size: 0.8rem;
  grid-column: 1/4;
}
