@import '../../variables.scss';

.photo-grid {
  margin-bottom: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-auto-rows: 140px;
  grid-gap: 20px;
  & .photo-grid-item {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    background: no-repeat center;
    background-size: 250px auto;
    &_vert {
      background-size: auto 300px;
    }
    &_big-square {
      background-size: 600px auto;
    }
    &_vert_col-left {
      grid-column-start: 1;
    }
    &_big-square_col-right {
      grid-column: 2/4;
    }
    &_vert_col-right {
      grid-column-start: 3;
    }
    &_big-square_col-left {
      grid-column: 1/3;
    }
    & .hover-container {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      background-color: transparent;
      transition: background-color $transition-delay;
      &:hover {
        background-color: $transp-pink;
      }
      & .gallery-btn {
        display: none;
        margin: auto;
        height: 40px;
        width: 40px;
        border-radius: 10px;
        background: no-repeat center url('./img/fav.svg'), $white;
        transition: background $transition-delay;
        &:hover {
          background: no-repeat center url('./img/fav-hover.svg'), $active-pink;
        }
      }
      & .active-gallery-btn {
        display: none;
        margin: auto;
        height: 40px;
        width: 40px;
        border-radius: 10px;
        background: no-repeat center url('./img/fav-active.svg'), $white;
        transition: background $transition-delay;
        &:hover {
          background: no-repeat center url('./img/fav-active-hover.svg'), $active-pink;
        }
      }
    }
  }
  & .no-photo {
    background: no-repeat center/50% url('../../assets/img/upload-bg.svg') !important;
  }
}
.photo-grid:last-child {
  margin-bottom: 0;
}

.grid-nav-btns {
  display: flex;
  justify-content: space-between;
  & .greed-btns {
    height: 40px;
    width: 122px;
    text-transform: uppercase;
    background-color: $hover-pink;
    color: $active-pink;
    border-radius: 10px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    font-weight: 500;
    transition: background-color $transition-delay, color $transition-delay;
    &:hover {
      background-color: $active-pink;
      color: $white;
    }
    &:disabled {
      background-color: $gray-back;
      color: $grey-text
    }
  }
}

.breed-btn {
  display: none;
  margin-top: auto;
  margin-bottom: 10px;
  width: 180px;
  height: 34px;
  background-color: $white;
  border-radius: 10px;
  color: $active-pink;
  font-size: 16px;
  transition: background-color $transition-delay, color $transition-delay;
  &:hover {
    background-color: $active-pink;
    color: $white;
  }
}

.no-items {
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 10px;
  background-color: $gray-back;
  padding-left: 20px;
  font-size: 16px;
  grid-column: 1/4;
}
