@import '../../variables.scss';

.sp-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 470px;
  height: 60px;
  background: $white;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: border $transition-delay;
  &:hover {
    border: 2px solid $hover-pink;
  }
  &:focus-within {
    border: 2px solid $active-pink;
  }
}

.search-input {
  width: 80%;
  height: 100%;
  margin: 15px 20px;
  margin-right: 0;
  color: $black-font;
  &::placeholder {
    transition: color $transition-delay;
  }
  &:hover::placeholder  {
    color: transparent;
  }
  &:focus::placeholder {
    color: transparent;
  }
}

.search-button {
  width: 40px;
  height: 40px;
  margin: 10px;
  background: no-repeat center url('./img/search-button.svg');
  transition: background $transition-delay;
  &:hover {
    background: no-repeat center url('./img/search-button-hover.svg');
  }
}

.btn-to-page {
  width: 60px;
  height: 60px;
  border-radius: 20px;
}

.btn-likes {
  background: no-repeat center url('./img/like-std.svg');
  background-color: $white;
  transition: background $transition-delay, background-color $transition-delay;
  &:hover {
    background: no-repeat center url('./img/like-std.svg');
    background-color: $hover-pink;
  }
}

.btn-likes-active {
  background: no-repeat center url('./img/like-active.svg');
  background-color: $active-pink;
}

.btn-favourites {
  background: no-repeat center url('./img/fav-std.svg');
  background-color: $white;
  transition: background $transition-delay, background-color $transition-delay;
  &:hover {
    background: no-repeat center url('./img/fav-std.svg');
    background-color: $hover-pink;
  }
}

.btn-favourites-active {
  background: no-repeat center url('./img/fav-active.svg');
  background-color: $active-pink;
}

.btn-dislikes {
  background: no-repeat center url('./img/dislike-std.svg');
  background-color: $white;
  transition: background $transition-delay, background-color $transition-delay;
  &:hover {
    background: no-repeat center url('./img/dislike-std.svg');
    background-color: $hover-pink;
  }
}

.btn-dislikes-active {
  background: no-repeat center url('./img/dislike-active.svg');
  background-color: $active-pink;
}