@import '../../variables.scss';

.photo-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 17.5rem;
  & .vote-img {
    max-width: 100%;
    margin: 0 auto;
    border-radius: 1rem;
    max-height: 18rem;
  }
  & .votes-btns {
    position: relative;
    width: 12.8rem;
    bottom: 2.2rem;
    margin: 0 auto;
    border-radius: 1rem;
    background-color: $white;
    & .vote-btn {
      width: 4.2rem;
      height: 4.4rem;
      border: 0.2rem solid $white;
      transition: background $transition-delay, background-color $transition-delay;
    }
    & .like-btn {
      border-radius: 1rem 0 0 1rem;
      border-right: none;
      background: no-repeat center/1.5rem url('./img/like-std.svg');
      background-color: $green;
      &:hover {
        background: no-repeat center/1.5rem url('./img/like-hover.svg');
        background-color: $green-hover;
      }
    }
    & .fav-btn {
      width: 4.4rem;
      background: no-repeat center/1.5rem url('./img/fav-std.svg');
      background-color: $active-pink;
      &:hover {
        background: no-repeat center/1.5rem url('./img/fav-hover.svg');
        background-color: $hover-pink;
      }
    }
    & .active-btn {
      background: no-repeat center/1.5rem url('./img/fav-active.svg');
      background-color: $active-pink;
      &:hover {
        background: no-repeat center/1.5rem url('./img/fav-hover-active.svg');
        background-color: $hover-pink;
      }
    }
    & .dislike-btn {
      border-radius: 0 1rem 1rem 0;
      border-left: none;
      background: no-repeat center/1.5rem url('./img/dislike-std.svg');
      background-color: $yellow;
      &:hover {
        background: no-repeat center/1.5rem url('./img/dislike-hover.svg'), $yellow-hover;
        background-color: $yellow-hover;
      }
    }
  }  
}

.action-logs {
  width: 100%;
  margin-top: -2.45rem;
  & .log-item {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.75rem 1rem 0.75rem 0.75rem;
    height: 3rem;
    background: $gray-back;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
  }
  & .log-message {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 85%;
    height: 1.5rem;
    & .log-time {
      background: $white;
      border-radius: 0.25rem;
      color: $black-font;
      font-size: 0.8rem;
      line-height: 1.2rem;
      padding: 0.15rem 0.5rem;
      margin-right: 1.5rem;
    }
    & .log-text {
      font-size: 0.8rem;
      line-height: 1.2rem;
      & .log-photo-id {
        font-weight: 500;
        color: $black-font;
      }
    }
  }
  & .log-action {
    width: 1rem;
    height: 1rem;
  }
  & .log-action-likes-pic {
    background: no-repeat center url('./img/log-action-like.svg');
    background-size: 1rem;
  }
  & .log-action-favourites-pic {
    background: no-repeat center url('./img/log-action-fav.svg');
    background-size: 1rem;
  }
  & .log-action-dislikes-pic {
    background: no-repeat center url('./img/log-action-dislike.svg');
    background-size: 1rem;
  }
}