@import '../../variables.scss';

.page-nav {
  display: flex;
  align-items: center;
  & .back-btn {
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    background: no-repeat center/0.6rem url('./img/back-btn-std.svg');
    background-color: $hover-pink;
    transition: background $transition-delay, background-color $transition-delay;
    &:hover {
      background: no-repeat center/0.6rem url('./img/back-btn-hover.svg');
      background-color: $active-pink;
    }
  }
  & h3 {
    height: 2rem;
    text-transform: uppercase;
    color: $white;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    margin-left: 0.5rem;
    background: $active-pink;
    padding: 0.25rem 1.5rem;
    border-radius: 0.5rem;
  }
  & .breed {
    background: $hover-pink;
    color: $active-pink;
  }
}